<%- include('../partials/head') %>

    <header class="bg-info text-white">
      <div class="container text-center">
        <h1><img src="/images/logo.png" alt="Minhas Séries" /></h1>
        <p class="lead">Gerencie suas séries com Express + Mongo + NodeJS</p>
      </div>
    </header>

    <% series.forEach((serie) => { %>
        <p><%= serie.name %> | <%= status.filter( item => item.id === serie.status)[0].name %> <a href="/series/excluir/<%= serie._id %>">Excluir</a> <a href="/series/editar/<%= serie._id %>">Editar</a></p>
    <% }) %>
    <a href="/series/adicionar">Nova série</a>

<%- include('../partials/footer') %>